.anotacoes {
	display: grid;
	grid-template-columns: auto auto auto auto;
	justify-content: center;
}

#personalizarH2 {
	text-align: center;
}
.personalizarAnotacoes {
	border: black solid 1px;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 10px;
}

.personalizarAnotacoes > h2 {
	margin: 5px;
}
